<h2>Sales by Location</h2>
<br>
<% @jambu.each do |m, k, l| %>
    <p><%= m["_id"] %></p>
    <p><%= m["total"] %></p>
    <hr>
<% end %>
<%= form_for(:posemails, url: vsales_product_choice_path, html: {method: 'get'}) do |f| %>
  <label>* Category</label> <%= f.select :category, kategori_choice, {include_blank: '---All Category---'} %>
 <label>* Start Date</label> <input id="datetimepicker1" name="posemails[startdate]" type="text" data-date-format="YYYY/MM/DD">
 <label>* End Date</label> <input id="datetimepicker2" name="posemails[enddate]" type="text" data-date-format="YYYY/MM/DD">
<%= f.submit 'search', class:"btn btn-primary btn-xs" %>
<% end %>
<hr>
<h3 class="text-center">Summary of Sales</h3>
<% if @vsbp != nil %>
<% if !@vsbp.empty?%>
<%= @kategori %>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div class="col-lg-12">
    <div class="col-lg-3">
        
    </div>
    <div class="col-lg-3">
        <h3>Total QtyUsed</h3><br>
        <% total1 = 0 %>
        <h2>
        <% @vsbp.each do |k,l| %>
            <% k %>
            <% a = 0 %>
            <% l.each do |n|%>
                <% a += n["QtyUsed"].to_i %>
            <% end %>
            <% total1 += a %>
        <% end %>
        <%= total1 %> units
        </h2>
    </div>
    <div class="col-lg-3">
        <h3>Total QtyOrdered</h3><br>
        <% total2 = 0 %>
        <h2>
        <% @vsbp.each do |k,l| %>
            <% k %>
            <% a = 0 %>
            <% l.each do |n|%>
                <% a += n["QtyOrdered"].to_i %>
            <% end %>
            <% total2+= a %>
        <% end %>
        <%= total2 %> units
        </h2>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>
<script type="text/javascript">
$(function () {
    $('#container5').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Sales by Branch'
        },
        subtitle: {
            text: 'Periode <%= @end_date %> - <%= @start_date %> '
        },
        xAxis: {
            categories: [
               <% @vsbp.each do |k,l| %>
                    '<%= k %>',
                <% end %>
            ]
        },
        yAxis: [{
            min: 0,
            title: {
                text: 'Employees'
            }
        }, {
            title: {
                text: 'Profit (millions)'
            },
            opposite: true
        }],
        legend: {
            shadow: false
        },
        tooltip: {
            shared: true
        },
        plotOptions: {
            column: {
                grouping: false,
                shadow: false,
                borderWidth: 0
            }
        },
        series: [{
            name: 'QtyUsed',
            color: 'rgba(248,161,63,1)',
            data: [<% @vsbp.each do |k,l| %>
                    <% k %>
                    <% a = 0 %>
                    <% l.each do |n|%>
                        <% a += n["QtyUsed"].to_i %>
                    <% end %>
                    <%= a %>,
                <% end %>],
            tooltip: {
                valuePrefix: '',
                valueSuffix: ' Unit'
            },
            pointPadding: 0.3,
            pointPlacement: 0.2,
            yAxis: 1
        }, {
            name: 'QtyOrdered',
            color: 'rgba(186,60,61,.9)',
            data: [<% @vsbp.each do |k,l| %>
                    <% k %>
                    <% a = 0 %>
                    <% l.each do |n|%>
                        <% a += n["QtyOrdered"].to_i %>
                    <% end %>
                    <%= a %>,
                <% end %>],
            tooltip: {
                valuePrefix: '',
                valueSuffix: ' Unit'
            },
            pointPadding: 0.4,
            pointPlacement: 0.2,
            yAxis: 1
        }]
    });
});

</script>
<% else %>
<div class="well">
   <label>Period : </label> <%= @end_date %> - <%= @start_date %>
</div>
Nothing to show with the given data
<% end %>
<% else %>
Please select Date Range first to show the data
<% end %>
<script>
 $(function () {
    $('#datetimepicker1').datetimepicker({
        pickTime: false
    });
        $('#datetimepicker2').datetimepicker({
        pickTime: false
    });
 });
</script>