<h2>Sales by Location</h2>
<br>
<%= form_for(:posemails, url: vsales_lochice_path, html: {method: 'get'}) do |f| %>
 <label>* Start Date</label> <input id="datetimepicker1" name="posemails[startdate]" type="text" data-date-format="YYYY/MM/DD">
 <label>* End Date</label> <input id="datetimepicker2" name="posemails[enddate]" type="text" data-date-format="YYYY/MM/DD">
 <label>* Max. Row </label> <input id="top10" name="posemails[top10]" type="text" value="10">
<%= f.submit 'search', class:"btn btn-primary btn-xs" %>
<% end %>
<hr>
<h3 class="text-center">Top Summary of Sales</h3>
<% if @vsbloc != nil %>
<% if !@vsbloc.empty?%>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<div id="container5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script type="text/javascript">
$(function () {
    $('#container5').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Branch\'s biggest sales'
        },
        subtitle: {
            text: 'Period : <%= @end_date %> - <%= @start_date %>'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rp (millions)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: ' Value : <b>Rp. {point.y:.1f} millions</b>'
        },
        series: [{
            name: 'Population',
            data: [
                <% @vsbloc.each do |id, m| %>
                  ['<%= id["_id"] %>', <%= id["totalPrice"]/1000000 %>],
                <% end %>
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                x: 4,
                y: 10,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif',
                    textShadow: '0 0 3px black'
                }
            }
        }]
    });
});
</script>
<% else %>
<div class="well">
   <label>Period : </label> <%= @end_date %> - <%= @start_date %>
</div>
Nothing to show with the given data
<% end %>
<% else %>
Please select Date Range first to show the data
<% end %>
<script>
 $(function () {
    $('#datetimepicker1').datetimepicker({
        pickTime: false
    });
        $('#datetimepicker2').datetimepicker({
        pickTime: false
    });
 });
</script>