<%= form_for(:posemails, url: vsaleschoice_path, html: {method: 'get'}) do |f| %>
 <label>* Start Date</label> <input id="datetimepicker1" name="posemails[startdate]" type="text" data-date-format="YYYY/MM/DD">
 <label>* End Date</label> <input id="datetimepicker2" name="posemails[enddate]" type="text" data-date-format="YYYY/MM/DD">
  <label>* Max. Row </label> <input id="top10" name="posemails[top10]" type="text" value="10">
<%= f.submit 'search', class:"btn btn-primary btn-xs" %>
<% end %>
<hr>
<h3 class="text-center">Summary of Sales</h3>
<% if @vsbp != nil %>
<% if !@vsbp.empty? %>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<div class="col-lg-12">
        <div id="container"></div>  
        <!-- <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>     -->
</div>
<script type="text/javascript">
    $(function () {
    $('#container').highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Top Sales by Category'
        },
        subtitle: {
            text: 'Period: <%= "#{@end_date} - #{@start_date}" %>'
        },
        xAxis: [{
            categories: [<% @vsbp.each do |id, m| %> '<%= id["_id"] %>', <% end %>]
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: 'Rp. {value}',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Total Price',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            opposite: true

        }, { // Secondary yAxis
            gridLineWidth: 0,
            title: {
                text: 'Qty. Ordered',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} units',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            }

        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 120,
            verticalAlign: 'top',
            y: 80,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: 'Qty. Ordered',
            type: 'column',
            yAxis: 1,
            data: [<% @vsbp.each do |id, m| %> <%= id["totalOrdered"] %>, <% end %>],
            tooltip: {
                valueSuffix: ' units'
            }

        }, {
            name: 'Total Price',
            type: 'spline',
            data: [<% @vsbp.each do |id, m| %> <%= id["totalPrice"] %>, <% end %>],
            tooltip: {
                valuePrefix: 'Rp. '
            }
        }]
    });
});


</script>

<% else %>
<div class="well">
   <label>Period : </label> <%= @end_date %> - <%= @start_date %>
</div>
Nothing to show with the given data
<% end %>
<% else %>
Please select Date Range first to show the data
<% end %>
<script>
 $(function () {
    $('#datetimepicker1').datetimepicker({
        pickTime: false
    });
        $('#datetimepicker2').datetimepicker({
        pickTime: false
    });
 });
</script>